@import './styles/global.css';

.block {
  margin: 0 auto;
  padding: 1em 0;
  width: 920px;

  @media (--medium-screen) {
    margin: 0;
    padding: 1em 10px;
    width: auto;
  }
}



.newbies {
  border-bottom: 1px solid #CCC;

  @media (--phone) {
    text-align: center;
  }

  & strong + span {
    color: #999;
    font-size: small;

    @media (--phone) {
      display: block;
      margin-top: .5em;
    }

    &::before {
      content: '\2022';
      margin: 0 .5em;

      @media (--phone) {
        content: none;
      }
    }
  }

  & ul {
    margin-bottom: 0;
    padding-left: 0;

    @media (--phone) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &::after {
      content: '';
      display: block;
      clear: both;

      @media (--phone) {
        content: none;
      }
    }
  }

  & li {
    list-style: none;
    float: left;
    color: #DDD;

    @media (--phone) {
      float: none;
      flex: 1 1 50%;
    }

    &::before {
      content: '/';
      display: inline-block;
      padding: 0 .5em;

      @media (--phone) {
        content: none;
      }
    }

    &:first-child::before {
      content: none;
    }
  }

  & code {
    color: #333;
  }

  & p {
    margin-bottom: 0;
    font-size: small;
  }
}
